{%extends 'layout/base.html'%}
{%block content%}
<link href="/static/css/form.css" rel="stylesheet">
<body>
{% if err_msg %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Lỗi:</strong> {{ err_msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="box">
    <h2>Đăng Ký Tài Khoản</h2>
    <form action="/profile/updatepass" method="POST">
        <input type="email" name="email" value="{{ current_user.email }}" disabled>
        <input type="password" name="oldpassword" minlength="8" placeholder="Nhập mật khẩu cũ" required>
        <input type="password" name="newpassword" minlength="8" placeholder="Nhập mật mới" required>
        <input type="password" name="confirm" placeholder="Xác nhận mật khẩu mới" required>
        <button type="submit" class="btn btn-primary">Cập nhật mật khẩu</button>
    </form>
</div>
</body>
{%endblock%}