{%extends 'layout/base.html'%}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}
{%block content%}
<body>
<a href="{{url_for('add_chapters', course_id=course_id)}}" class="btn btn-primary">
    <i class="fa-solid fa-user-plus"></i> Tạo chương mới
</a>
{% for chapter in chapters %}
<div class="card" style="width:400px">
    <div class="card-body">
        <a href="/chapters/{{ chapter.id }}/lessons">
            <h4 class="card-title">{{ chapter.name }}</h4>
            <p class="card-text">{{ chapter.description }}</p>
        </a>
    </div>
</div>
{% endfor %}
</body>
{%endblock%}