{%extends 'layout/base.html'%}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}
{%block content%}
<main class="create-form-container">
    <div class="form-card">
        <div class="form-header">
            <h1>Tạo chương mới</h1>
        </div>

        {% if err_msg %}
        <div class="alert-error">
            {{ err_msg }}
        </div>
        {% endif %}

        <form method="POST" action="{{ url_for('add_chapters', course_id=course_id) }}" class="form">
            <div class="form-group">
                <label for="name">Tiêu đề<span class="required">*</span></label>
                <input type="text" id="name" name="name" placeholder="Ví dụ: Chương 1: Giới thiệu...">
            </div>

            <div class="form-group">
                <label for="description">Miêu tả</label>
                <input type="text" id="description" name="description"
                       placeholder="Miêu tả tổng quát chương">
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-submit">
                    Tạo chương mới
                </button>
                <a href="{{url_for('course_detail', course_id=course_id)}}" class="btn-cancel">Hủy</a>
            </div>

        </form>
    </div>
</main>
{%endblock%}