{%extends 'layout/base.html'%}
{%block content%}
<link rel="stylesheet" href="/static/css/form.css">
<body>
<div class="d-flex flex-row-reverse mt-3">
<a href="/courses/create" class="btn btn-primary ">
    <i class="fa-solid fa-user-plus"></i> Tạo khóa học mới
</a>
</div>


<div class="container mt-3">
    <table class="table table-dark table-hover table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Tên khóa học</th>
            <th>Loại</th>
            <th>Tag</th>
            <th>Mô tả</th>
            <th>Giá (đ)</th>
            <th>Đang hoạt động</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
        <tr>
            <td><input type="checkbox" class="row-check" value="{{ course.id }}"></td>
            <td><a href="{{ url_for('course_detail', course_id=course.id) }}" class="course-card-link">{{ course.name }}</a></td>
            <td>{{ course.category }}</td>
            <td>
                {% for tag_name in course.tag_names %}
                <span class="badge bg-secondary">{{ tag_name }}</span>
                {% endfor %}
            </td>
            <td>{{ course.description }}</td>
            <td>{{ course.price }}</td>
            <td>{{ course.is_aactive }}</td>
            <td class="text-center"><a href="/courses/{{ course.id }}/edit" class="edit-btn"
                                       title="Chỉnh sửa">&#128393;</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
{%endblock%}