{%extends 'layout/base.html'%}
{%block content%}
<link href="/static/css/form.css" rel="stylesheet">
<body>
{% if err_msg %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Lỗi:</strong> {{ err_msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="box">
    <h2>Đăng Ký Tài Khoản</h2>
    <form action="/register" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Họ và tên" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" minlength="8" placeholder="Mật khẩu" required>
        <input type="password" name="confirm" placeholder="Xác nhận mật khẩu" required>
        <h4>Ảnh đại diện</h4>
        <input type="file" name="img">
        <button type="submit" name="role" value="STUDENT">Đăng ký trở thành học viên</button>
        <h4 style="margin-top: 5px">Bạn và giáo viên ư?</h4>
        <button type="submit" name="role" value="TEACHER">Đăng ký trở thành giảng viên</button>
    </form>
    <div class="link">
        Đã có tài khoản? <a href="/login">Đăng nhập</a>
    </div>
</div>
</body>
{%endblock%}