<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)"><img
                    src="/static/img/logo.png"
                    width="20%" height="20%" alt="E-Course"> E-Course</a>
            <div class="collapse navbar-collapse flex-row-reverse" id="mynavbar">
                <form class="d-flex">
                    <a href="/login" class="btn btn-success">Đăng nhập</a>
                </form>
            </div>
        </div>
    </nav>
</header>